/* MAIN CONTAINERS */
.internal-layout-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--bg-light-1);
}
.content-container {
  background-color: var(--bg-light-2) !important;
  width: 100%;
  overflow: auto;
}
.sidebar-container {
  background-color: var(--main-bg) !important;
  width: 260px;
  transition: width 0.3s ease-in-out;
}
.is-close {
  width: 90px;
}
/* LAYOUT COMPONENTS */
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  backdrop-filter: blur(10px);
  background-color: var(--bg-light-2);
}
.content {
  color: var(--bg-dark-1);
  padding: 1rem;
}
