.ul-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  padding-inline-start: var(--list-indention);
}
.li-list {
  padding-block: var(--link-gaps);
}
.li-list-active {
  color: var(--color-light-1);
}

.link-list {
  text-decoration: none;
  color: var(--color-light-2);
}
.sidebar-text {
  margin-inline: 1rem;
  /* border: 1px red solid; */
  text-transform: capitalize;
}
.logo-container {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 30px;
  position: absolute;
  top: 50;
  left: 50;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.logo.active {
  opacity: 1;
}
