* {
  --bg-dark-1: #0f0f0f;

  --color-light-1: #ffffff;
  --color-light-2: #d3d3d3;

  --link-gaps: 0.6rem;

  --list-indention: 1.8rem;
}
.toggler-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.ul-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  padding-inline-start: var(--list-indention);
}
.li-list {
  padding-block: var(--link-gaps);
}
.li-list-active {
  color: var(--color-light-1);
}

.link-list {
  text-decoration: none;
  color: var(--color-light-2);
}
.sidebar-text {
  margin-inline: 1rem;
  /* border: 1px red solid; */
  text-transform: capitalize;
}
.logo-container {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 30px;
}
