.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.internal-navbar-active {
  background-color: #262626 !important;
  backdrop-filter: none;
  color: white;
}
.logo {
  height: 33px;
}
